<p><strong>PREGUNTAS<strong></p>
<table>
  <% for (var i in quizzes) { %>
  <tr>
    <td>
      <a href='/quizzes/<%= quizzes[i].id %>'><%= quizzes[i].question %></a>
    </td>
    <td>
      <a href='/quizzes/<%= quizzes[i].id %>/edit'><button>Editar</button></a>
    </td>
    <td>
      <a href='/quizzes/<%= quizzes[i].id %>?_method=DELETE'
        onClick="return confirm('Borrar: <%= quizzes[i].question %>?');">
        <button>Borrar</button></a>
    </td>
  </tr>
  <% } %>
</table>
<br>
<form method="get" action="/quizzes">

  <select name="tematica">
    <option></option>
    <option>geografía</option>
    <option>tecnología</option>
    <option>ocio</option></select>
    <input type="submit" value="Buscar por tematica">
  </form>
<br>
<br>
<form method="get" class="derecha" action="/quizzes">

    <input type="text" name="search" value="">
    <input type="submit" value="Buscar">
  </form>

  <a href="/quizzes/new"><button type="button">Crear pregunta</button></a>
